<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form id="new-form"> 
      <input type="text" class="new-todo" placeholder="What needs to be done?">
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">
      
    </ul>
    <hr/>
  </section> 
  <div id="itemsLeft">
    Items Left
    <span> </span>
  </div>
 
</section>

<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Claudwin Fortune", "http://github.com/Claudwin" %>
</section>

<script>
 function itemsLeft() {
        // $.get("/tasks").success(function (data) {
        //     var count = 0;
        //     $.each(data, function (index, task) {
        //         if (!task.done) {
        //             count++;
        //         }
        //     });
        var count = $('ul.todo-list li:not(.completed)').length;
            var itemsLeft = $('#itemsLeft span');
            itemsLeft.html(count);
        // });
    }
    itemsLeft();
</script>